<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">
  <select id="selectName" resultType="string">
    SELECT username from user where username=#{name}
  </select>
    <select id="selectPass" resultType="string">
         SELECT password from user where username=#{name}
    </select>
  <update id="updateArticle" parameterType="po.Article">
     UPDATE article set title=#{title},content=#{content},categoryId=#{categoryid} where id=#{id}
  </update>
  <select id="selectdisplayName" parameterType="int" resultType="po.Category">
    select *from category where id=(select  categoryId from article where id=#{id})
  </select>
  <select id="selectdisplayNameAll" resultType="po.Category">
    SELECT *from category
  </select>
  <select id="selectId" parameterType="string" resultType="int">
    SELECT  id from category where display_name=#{name}
  </select>
</mapper>
